.business-icon {
  position: fixed;
  right: 24px;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  background: #ffff;
  border: 1px solid #a4acbc4d;
  border-radius: 40px;
  box-shadow: 0 4px 20px #0000001a;
  cursor: pointer;
}
