@import 'https://bhb-frontend.bhbcdn.com/static/mtv-open-console/iconfont/iconfont.css';
@font-face {
  font-weight: normal;
  font-family: 'Douyin Sans';
  font-style: normal;
  src: url('https://bhb-frontend.bhbcdn.com/static/mtv-open-console/iconfont/DouyinSansBold.otf')
    format('opentype');
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
