.order-wrapper {
  box-sizing: border-box;
  padding: 24px;

  .title {
    color: rgb(25, 25, 25, 100%);
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }

  .condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .btn-search {
      margin-left: -24px;
    }
  }

  .tag {
    padding: 5px 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border-radius: 4px;

    &.green {
      color: rgb(5, 179, 96, 100%);
      background-color: rgb(25, 209, 121, 12%);
    }

    &.gray {
      color: rgb(120, 125, 133, 100%);
      background-color: #eef0f4;
    }
  }
}
