.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 22px;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;

  &-solid {
    &.btn-black {
      color: #fff;
      background-color: rgb(25, 25, 25, 100%);

      &:hover {
        background-color: rgb(49, 49, 51, 100%);
      }

      &:active {
        background-color: rgb(18, 18, 18, 100%);
      }
    }
  }

  .icon {
    margin-right: 6px;
  }
}
