.company-real-name-modal {
  padding: 36px 16px 32px;

  .title {
    margin-bottom: 32px;
    color: rgb(29, 33, 41, 100%);
    font-weight: 600;
    font-size: 18px;
    font-family: 'PingFang SC';
    line-height: 26px;
    text-align: center;
  }

  .listForm {
    max-height: 600px;
    margin-top: 16px;
    overflow-y: auto;

    .extra {
      margin-top: 8px;
      color: rgb(120, 125, 133, 100%);
      font-weight: 400;
      font-size: 14px;
      font-family: 'PingFang SC';
      line-height: 18px;
    }
  }

  .text {
    min-width: 292px;
    height: 40px;
  }

  .btnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

    .confirm-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 360px;
      height: 48px;
      font-size: 14px;
      font-family: 'PingFang SC';
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .licenseUpload {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 140px;
    height: 96px;
    color: #000;
    background: rgb(255, 255, 255, 100%);
    border: 1px solid rgb(164, 172, 188, 30%);
    border-radius: 8px;

    .desc {
      color: rgb(120, 125, 133, 100%);
      font-weight: 400;
      font-size: 13px;
      font-family: 'PingFang SC';
      line-height: 13px;
    }
  }

  .agreementCheckbox {
    display: flex;
    align-self: start;
    color: rgb(120, 125, 133, 100%);
    font-weight: 400;
    font-size: 12px;
    font-family: 'PingFang SC';
    line-height: 18px;
    text-align: left;
    vertical-align: top;
  }

  .checkbox {
    span:first-child {
      padding-top: 2px;
    }
  }

  .customUpload {
    position: relative;
    box-sizing: border-box;
    width: 140px;
    height: 96px;
    overflow: hidden;
    border: 1px solid rgb(164, 172, 188, 30%);
    border-radius: 8px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      inset: 0;
    }

    &-box {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      color: #999;
      transform: translate(-50%, -50%);

      svg {
        font-size: 20px;
      }

      &-des {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }

  .prefix {
    height: 24px;
    padding-right: 10px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    border-right: 1px solid rgb(164, 172, 188, 30%);
  }

  /* 整个滚动条 */
  ::-webkit-scrollbar {
    width: 8px; /* 垂直滚动条宽度 */
  }

  /* 滚动条轨道 */
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 6px;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 12%);
    border-radius: 6px;
  }

  :global(.check-tip-from-error) {
    position: relative !important;

    .ant-form-item-explain-error {
      position: absolute;
      top: -3px;
      left: 21%;
      transform: translate(-50%, -50%);
    }
  }

  :global(.upload) {
    :global(.ant-upload-list-item-container) {
      width: 140px !important;
      height: 96px !important;
    }
  }

  :global(.legalPerson) {
    :global(.ant-upload-list-item-container) {
      width: 136px !important;
      height: 94px !important;
    }
  }
}
