.payment-card {
  position: relative;

  // 横向布局样式
  &.horizontal {
    .header {
      display: flex;
      justify-content: center;
      padding: 23.8px 0 24px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 410px;
      margin: 0 auto;
      padding-bottom: 32px;

      .qrcode {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 126px;
        height: 126px;
        overflow: hidden;
        border: 1px solid #a4acbc4d;
        border-radius: 12px;

        .iframe {
          width: 110px;
          height: 110px;
          overflow: hidden;
          border: none;
          outline: none;
        }
      }

      .detail {
        padding-left: 32px;

        .price {
          color: #191919;
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;

          .icon {
            padding: 0 2px 0 6px;
          }

          .num {
            color: #191919;
            font-weight: 700;
            font-size: 28px;
            font-family: 'Douyin Sans';
            line-height: 28px;
          }
        }

        .tip {
          padding: 20px 0 12px;
          color: #191919;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
        }

        .agreement {
          display: flex;
          color: #63666d;
          font-weight: 400;
          font-size: 13px;
          line-height: 13px;

          .link {
            color: #4183ed;
          }
        }
      }
    }
  }

  // 纵向布局样式
  &.vertical {
    .header {
      display: flex;
      justify-content: center;
      padding: 24px 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 32px;
      text-align: center;

      .qrcode {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 188px;
        height: 188px;
        overflow: hidden;
        border: 1px solid #a4acbc4d;
        border-radius: 12px;

        .iframe {
          width: 172px;
          height: 172px;
          overflow: hidden;
          border: none;
          outline: none;
        }
      }

      .detail {
        padding-top: 28px;

        .price {
          color: #191919;
          font-weight: 600;
          font-size: 20px;
          line-height: 20px;

          .icon {
            padding: 0 2px 0 8px;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
          }

          .num {
            color: #191919;
            font-weight: 700;
            font-size: 24px;
            font-family: 'Douyin Sans';
            line-height: 24px;
          }
        }

        .tip {
          padding: 28px 0 12px;
          color: #191919;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
        }

        .agreement {
          display: flex;
          color: #63666d;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;

          .link {
            color: #4183ed;
          }
        }
      }
    }
  }

  .header {
    .tab-bar {
      display: flex;
      justify-content: center;
      padding: 4px;
      background: #eef0f4;
      border-radius: 8px;

      .tab-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 128px;
        height: 42px;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;

        &.active {
          background: #fff;

          span {
            color: #191919;
            font-weight: 600;
          }
        }

        span {
          padding-left: 6px;
          color: #63666d;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }

  .content {
    .qrcode {
      &.loading {
        .spin {
          display: block;
        }

        .code-url,
        .iframe {
          opacity: 0;
        }
      }

      &.is-expired {
        .expired-box {
          display: flex;
        }
      }

      .expired-box {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #ffff;
        background: #a4acbce5;
        cursor: pointer;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
        }
      }

      .spin {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        width: 100%;
        height: 100%;
        background-color: #fff;
        translate: -50% -50%;

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 30px;
          animation: spin 1s linear infinite;
          translate: -50% -50%;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
